.icon {
  display: block;
  // TODO: width to constants
  @media screen and (min-width: 428px) {
    display: none;
  }
}

.text {
  display: none;
  
  @media screen and (min-width: 428px) {
    display: block;
  }
}