@import '../../assets/styles/constants.module.scss';

.icon {
  display: block;
  
  @media screen and (min-width: $navigation-icons-min-width-breakpoint) {
    display: none;
  }
}

.text {
  display: none;
  
  @media screen and (min-width: $navigation-icons-min-width-breakpoint) {
    display: block;
  }
}